.header {
  text-align: center;
  border-bottom: 2px solid white;
  width: 70%;
  margin: 0 auto;
}

.list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1.25rem;
  padding-left: 0;
}
