.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.form input {
  font: inherit;
  background-color: var(--background-color);
  border: 1px solid white;
  color: white;
}

.form button {
  background-color: var(--accent-color);
  border: none;
  font: inherit;
  font-weight: bold;
  width: min-content;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  transform: scale(1.05);
}

.form button:active {
  transform: translateY(3px);
}

.error {
  color: #ff0033;
  padding: 0.5rem 1rem;
  border: 1px solid #ff0033;
  border-radius: 1rem;
}
