.header {
  text-align: center;
}

.list {
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.list li a,
.list li a:link,
.list li a:visited {
  color: var(--accent-color);
}

.container {
  width: 100%;
  overflow: hidden;
}
