.creator__container {
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.creator__image {
  width: 100%;
  height: 100%;
}

.creator__image--container {
  border-radius: 50%;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
}

.creator__username {
  text-align: center;
}

.creator__platforms--container {
  list-style: none;
  padding: 0;
}

.platform-logo {
  width: 1.6rem;
  padding: 0 1rem;
}

.platform {
  display: flex;
  flex-direction: row;
}

.platform a,
.platform a:link,
.platform a:visited {
  color: white;
}

@media (max-width: 400px) {
  .creator__container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}
