.cta-btn {
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  color: var(--text-color-dark);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  width: fit-content;
  margin: 3rem auto;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  clip-path: polygon(
    0% 25%,
    5% 25%,
    5% 12.5%,
    10% 12.5%,
    10% 0,
    90% 0,
    90% 12.5%,
    95% 12.5%,
    95% 25%,
    100% 25%,
    100% 75%,
    95% 75%,
    95% 87.5%,
    90% 87.5%,
    90% 100%,
    10% 100%,
    10% 87.5%,
    5% 87.5%,
    5% 75%,
    0% 75%
  );
  overflow: hidden;
}

.cta-btn:hover {
  transform: scale(1.05);
}
.cta-btn:active {
  transform: scale(1) translateY(3px);
}
