.form {
  display: flex;
  flex-direction: column;
}

.form fieldset {
  border: 0;
}

.form fieldset input {
  background-color: #121212;
  font: inherit;
  border: 1px solid white;
  color: white;
  padding-left: 0.5rem;
}

.form fieldset input::placeholder {
  opacity: 0.75;
  color: #bcbcbc;
}
