.main {
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.logo {
  width: 50%;
  margin-top: 5rem;
}

.disclaimer {
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
}

.main p a,
.main p a:link,
.main p a:visited {
  color: var(--accent-color);
}
