.dropdown {
  position: relative;
  width: 100%;
}

.dropdown p {
  text-align: center;
}

.dropdown ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 17rem;
  padding: 1rem;
  row-gap: 1rem;
  width: 100%;
  text-align: center;
  background-color: black;
  opacity: 0;
  transform: translateY(-100%) translateX(-10%);
  transition: all 0.2s;
  list-style: none;
}

@media (min-width: 780px) {
  .dropdown:hover ul {
    opacity: 1;
    transform: translateY(-5.5%) translateX(-10%);
  }
}

.dropdown ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.dropdown ul li a:hover {
  text-decoration: underline;
}

.dropdown p {
  display: flex;
  flex-direction: row;
}

.arrow {
  width: 15px;
  margin-left: 0.25rem;
  color: white;
}

@media (max-width: 780px) {
  .dropdown ul {
    position: relative;
    opacity: 1;
    list-style-type: none;
    padding: 0;
    transform: translateY(0);
  }

  .dropdown ul li a {
    text-decoration: underline;
  }

  .arrow {
    display: none;
  }

  .dropdown p {
    display: block;
    font-weight: bold;
  }
}
