.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(#000, #121212);
  justify-content: space-between;
  width: 100%;
  height: 85px;
  position: relative;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
  align-items: center;
  margin-right: 1rem;
}

.image {
  width: 100%;
  height: 100%;
}

.logo-container {
  margin-left: 1rem;
}

.nav__checkbox {
  display: none;
}

@media (max-width: 780px) {
  .logo-container {
    margin: 0 auto;
  }
  .nav__list {
    opacity: 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: #000;
    text-align: center;
  }

  .nav__button {
    background-color: var(--accent-color);
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    text-align: center;
    cursor: pointer;
    clip-path: polygon(
      0% 25%,
      12.5% 25%,
      12.5% 12.5%,
      25% 12.5%,
      25% 0,
      75% 0,
      75% 12.5%,
      87.5% 12.5%,
      87.5% 25%,
      100% 25%,
      100% 75%,
      87.5% 75%,
      87.5% 87.5%,
      75% 87.5%,
      75% 100%,
      25% 100%,
      25% 87.5%,
      12.5% 87.5%,
      12.5% 75%,
      0% 75%
    );
  }
  .nav__list li div p {
    border-bottom: 2px solid var(--accent-color);
  }

  .nav__icon {
    position: relative;
    margin-top: 50%;
  }

  .nav__icon,
  .nav__icon:before,
  .nav__icon:after {
    width: 1.5rem;
    height: 2px;
    background-color: var(--text-color-dark);
    display: inline-block;
  }

  .nav__icon:before,
  .nav__icon:after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .nav__icon:before {
    top: -0.5rem;
  }
  .nav__icon:after {
    top: 0.5rem;
  }

  .nav__button:hover .nav__icon::before {
    top: -0.75rem;
  }
  .nav__button:hover .nav__icon::after {
    top: 0.75rem;
  }

  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent;
  }

  .nav__checkbox:checked + .nav__button .nav__icon:before {
    top: 0;
    transform: rotate(135deg);
  }

  .nav__checkbox:checked + .nav__button .nav__icon:after {
    top: 0;
    transform: rotate(-135deg);
  }

  .nav__checkbox:checked ~ .nav__list {
    opacity: 1;
    z-index: 10;
  }
}
