.table,
.table th,
.table td {
  border: 1px solid white;
  border-collapse: collapse;
  overflow: hidden;
}

.table {
  width: 75vw;
  table-layout: fixed;
  margin: 0 auto;
}

.header__btn {
  background-color: var(--accent-color);
  font: inherit;
  border: none;
  cursor: pointer;
  width: 100%;
  min-height: 3rem;
}

@media (max-width: 1420px) {
  .header__btn {
    min-height: 6rem;
  }
}

@media (max-width: 920px) {
  .header__btn {
  }
}
