.logo-container {
  width: 60%;
  margin: 3rem auto 3rem auto;
  display: grid;
  align-items: center;
}

.logo {
  width: 100%;
}

.ip-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-self: baseline;
}

.ip {
  background-color: transparent;
  color: var(--accent-color);
  font: inherit;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
}

.ip:hover {
  text-decoration: none;
  border-bottom: 3px solid var(--accent-color);
}

.desc {
  text-align: center;
}
