.main-header {
  text-align: center;
}

.subheading {
  text-align: center;
}

.answer {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.answer a,
.answer a:link,
.answer a:visited {
  color: var(--accent-color);
}
